<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/game/ui.controller.js"></script>
<script src="/javascripts/game/game.js"></script>
<script src="/javascripts/game/main.js"></script>
<div id="game-id"></div>
<button id="game-start-btn">Start Game</button>
<div id="player-list"></div>
<img id="drawing"/>
<div id="options"></div>
<br/>
<div id="score">see console for score</div>